:root {
    --primary-color: #17a1fa;
    --secondary-color: #7a61ff;
    --tertiary-color: #ff00ff;
    --blue-magenta: #413e54;
    --blue-black: #0a2942;
    --default-gray: #636b78;
    --light-gray: #a1a6ad;
    --lighter-gray: #d1d4d6;
    --light-purple: #cda6ff;
}
